@import '~antd/dist/antd.less';
// @import '~antd/lib/style/themes/dark.less';
@import '~antd/lib/style/themes/default.less';

.ant-page-header {
    padding: 10px 0;
    background:#383838 none repeat scroll 0% 0%;
    box-shadow: #000000 0px 0px 8px 0px;
}